* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

#modal-backdrop.hidden {
  display: none !important;
}

body {
  background: #1b140f;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* ===== AUTH ===== */

#auth-screen {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.auth-bg-layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

#auth-screen.auth-mode-login .auth-bg-layer {
  background-image: url("assets/oknostartowe.png");
}

#auth-screen.auth-mode-register .auth-bg-layer {
  background-image: url("assets/oknorejestracji.png");
}

.auth-form-frame {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 560px;
  height: 590px;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

/* zakładki */
.auth-tabs {
  position: absolute;
  left: 102px;
  top: 73px;
  width: 350px;
  height: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.auth-tabs button {
  width: 100%;
  height: 100%;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  cursor: pointer;
  color: transparent !important;
  font-size: 0 !important;
  text-indent: -9999px;
  overflow: hidden;
}

/* formularz */
.auth-theme-form {
  position: absolute;
  inset: 0;
}

.auth-row {
  position: absolute;
}

.auth-row span {
  display: none !important;
}

.auth-row input {
  width: 320px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 23px;
  padding: 2px 10px 2px 52px;
  color: #3b2617;
  box-shadow: none;
}

/* login */
.auth-login-row {
  left: 118px;
  top: 190px;
}

/* email */
.auth-email-row {
  left: 118px;
  top: 255px;
}

/* hasło - logowanie */
.auth-password-row {
  left: 118px;
  top: 310px;
}

/* hasło - rejestracja */
#auth-screen.auth-mode-register .auth-password-row {
  top: 335px;
}

/* powtórz hasło */
.auth-confirm-row {
  left: 118px;
  top: 414px;
}

/* checkbox */
.remember-row {
  position: absolute;
  left: 118px;
  top: 360px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#auth-screen.auth-mode-register .remember-row {
  display: none;
}

#remember-me {
  width: 28px;
  height: 28px;
  opacity: 0.02;
  cursor: pointer;
}

#remember-label {
  display: none !important;
}

/* przycisk */
.auth-main-btn {
  position: absolute;
  left: 104px;
  top: 440px;
  width: 350px;
  height: 76px;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  cursor: pointer;
  color: transparent !important;
  font-size: 0 !important;
  text-indent: -9999px
